@import "colors";

@media (min-width: 0px){
  .when-small {
    display: block;

  }
  .span-title-small {
    text-transform: uppercase;
    position: absolute;
    top:-30px;
    left:0px;
    //font-weight: bolder;
  }

  .span-title2-small {
    text-transform: uppercase;
    position: absolute;
    top:-30px;
    left:0px;
    //font-weight: bolder;
  }

.span-title{
    display: none;

}
  .span-title2 {
    display: none;

  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

}
@media (min-width:1187px){
  .when-small {
    display: none;

  }
  .span-title{
    display: block;
    font-size: 1rem;
    text-transform: none;
  }
  .span-title2 {
    display: block;
   font-size: 1rem;
    text-transform: none;
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width:768px){
  .span-title{
    top:-50px;
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .span-title2 {
    top:-90px;
  }


  .when-small {


  }
}
a {
  text-decoration: none;
  color:red;
  :focus {
    outline: none;
  }
}
.link-employment:hover{
 color: $color-background-yellow;
}
.employment-block {
  display: flex;
  flex-direction: column;
  margin-bottom:10px;
  margin-top: 10px;

}

.span-title {

  position: absolute;
  //top:-50px;
  top:0;
  left:10px;
  font-weight: bolder;
  margin-right: 10%;

}
.span-title2 {

  position: absolute;
  //top:-90px;
  left:10px;
  top:0;
  margin-left: 20%;
  font-weight: bolder;
}

.btn-employment {
  padding: 5px;
  margin-left: 20%;
  margin-right: min(10px);
  //min-width: 375px;
  max-width: 500px;
  height: 250px;
  cursor: pointer;
  background-color: $color-nav-font;
  border-left: dotted 2px $color-nav;
  border-bottom: dotted 2px $color-nav;
  border-top: 0px;
  border-right: 0px;
  //border-radius: 50%;
  box-shadow:$color-background-yellow -3px 3px;
  font-weight:500;
  text-transform:uppercase;
  p{
    text-transform: none;
  }

}
.btn-employment:focus{
  outline: none;
}
.middle {
  margin-left: 40%;
}

.last {
  margin-left: 60%;
}
.flex-row {
  display: flex;
  justify-content: space-between;

}
.red-focus:hover {
  text-decoration: underline;

}

