@import "colors";

@media (min-width: 0px){
.slider {
  min-width: 200px ;
  margin: 40px 30px 10px 30px;
}
  .single-photo-cv {
    width: 300px;
    height: 150px;
    margin-left: 10%;
  }
  .second-photo-hobby {
    width: 300px;
    height: 150px;
    margin-left: 10%;
  }
  .single-photo-hobby2 {
    width: 300px;
    height: 200px;
    margin-left: 25%;
  }
  .single-photo-work2 {
    width: 300px;
    height: 150px;
    margin-left: 10%;
  }
  .thirdPhoto {
    width: 300px;
    height: 200px;
    margin-left: 25%;
  }
}
@media (min-width: 375px){
  .single-photo-cv{
    width: 400px;
    height: 200px;
    margin-left: 5%;
  }
  .second-photo-hobby {
    width: 400px;
    height: 200px;
    margin-left: 5px;
  }
  .single-photo-hobby2 {
    width: 500px;
    height: 300px;
    margin-left:20%;
  }
  .single-photo-work2 {
    width: 400px;
    height: 200px;
    margin-left: 10%;
  }
  .thirdPhoto {
    width: 500px;
    height: 300px;
    margin-left: 20%;
  }
}
@media (min-width: 450px){
  .slider {
    margin: 40px 30px 40px 30px;
  }
  .single-photo-cv{
    width: 500px;
    height: 300px;
    margin-left: 10%;
  }
  .second-photo-hobby {
    width: 500px;
    height: 300px;
    margin-left: 5%;
  }
  .single-photo-work2 {
    width: 500px;
    height: 300px;
    margin-left: 10%;
  }
  .thirdPhoto {
    width: 500px;
    height: 300px;
    margin-left: 25%;
  }
  .single-photo-hobby2 {
    width: 500px;
    height: 300px;
    margin-left: 25%;
  }
}
@media (min-width:650px){
  .slider {
    min-width: 600px;
    margin: 40px 30px 40px 30px;
  }
  .single-photo-cv{
    width: 500px;
    height: 300px;
    margin-left: 20%;
  }

  .second-photo-hobby {
    width: 500px;
    height: 300px;
    margin-left: 20%;
  }
  .single-photo-work2 {
    width: 500px;
    height: 300px;
    margin-left: 20%;
  }
  .single-photo-hobby2 {
    width: 500px;
    height: 300px;
    margin-left: 35%;
  }
  .thirdPhoto {
    width: 500px;
    height: 300px;
    margin-left: 35%;
  }
}

.slider {
  max-width:500px;
  max-height: 350px;
  display: flex;

  align-items: center;
  //border: 2px solid $color-background-yellow;
  //margin: 40px 30px 40px 30px;

}


.container-photo {

  //margin-left:7%;
  position: relative;
  max-width: 500px;
  max-height: 300px;
}


.single-photo-cv{

  //margin:5px;
  //flex-basis: 50%;
  //flex-grow: 1;
  background-image: url("../graphics/MN_small.jpg");
  background-size: contain;
  //width: 500px;
  //height: 300px;
  background-repeat: no-repeat;
  :focus{
    outline: none;
  }


}

.single-photo-hobby{
  //margin:5px;
  //flex-basis: 32%;
  //flex-grow: 1;
  border: 2px solid $color-background-yellow;
  background-image: url("../graphics/543010_10154264379205684_5039278148196170873_n.jpg");
  background-size: contain;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  :focus{
    outline: none;
  }
}

.second-photo-hobby{

  background-image: url("../graphics/Working Test Piacenza 2019 cart. 3 senza titolo 24 febbraio 2019 0284-610.jpg");
  background-size: contain;

  background-repeat: no-repeat;
  :focus{
    outline: none;
  }
}
.thirdPhoto {

  background-image: url("../graphics/Working Test Piacenza 2019 cart. 3 senza titolo 24 febbraio 2019 0284-587.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  :focus{
    outline: none;
  }
}
.twoPhotos {
  display: flex;
}
.single-photo-hobby2{

  background-image: url("../graphics/Sova6.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.single-photo-work{

  background-image: url("../graphics/Sova.jpg");
  background-size: contain;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
}
.single-photo-work2{

  background-image: url("../graphics/61766674_2124558460994098_8150864522031136768_n.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  :focus{
    outline: none;
  }

}

.single-photo-hobby3{
  margin:5px;
  //flex-basis: 32%;
  //flex-grow: 1;
  //border: 2px solid $color-background-yellow;
  background-image: url("../graphics/Sova5_animalphotography.jpg");
  background-size: contain;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
}

.span-photo {
  position: absolute;
  color: $color-background-yellow;
  top:50px;
  right:50px;
}
